Jwt__Key=<samme-hemmelige-nøgle-som-i-AuthService>
Jwt__Issuer=https://auth.skyquery.dk
Jwt__Audience=https://api.skyquery.dk
ImageStore__Root=/data/images

#For local: ImageStore__Root=C:\\SkyQueryData\\Images