@inherits LayoutComponentBase

<div class="main-layout">
    <div class="nav-bar"><NavMenu /></div>
    

    <div class="main-content">
        @Body
    </div>

    @* <div class="footer"><Footer /></div> *@
    
</div>