<nav class="navbar">
    <div class="nav-links">
        <a href="/" class="nav-button">Dataforsyningen</a>
        <a href="/sentinel2" class="nav-button">Sentinel-2</a>
        <a href="/mgrs-kort" class="nav-button">MGRS-kort</a>
    </div>
</nav>
